<div class="am-modal am-modal-no-btn" tabindex="-1" id="bottom-right-modal">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <div id="modal-upload-title" class="am-panel">
                <span href="javascript:;">上传列表</span>
                <i class="am-icon-angle-down am-icon-sm"></i>
            </div>
        </div>
        <div class="am-modal-bd">
            <ul id="upload-list">
                <li>来来来，上传点啥吧</li>
            </ul>
        </div>
    </div>
</div>